.footerContainer{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: ;
}

.apeCodeImg2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid 3px var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
}

.apeCodeImg2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}