.workContainer {
  height: auto;
  box-shadow: 10px 5px 5px var(--primary-color);
  background-color: rgba(0, 0, 0, 0.7);
  border: solid var(--primary-color);
}

.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.myWorkHeader {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30rem;
  height: 40rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.workImg {
  width: 30rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 2rem;
  transition: transform 0.3s ease;
}

.workImg:hover {
  transform: scale(1.05);
  filter: none;
}

.slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.swiper-slide:hover .slideContent {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  opacity: 1;
  box-shadow: 10px 5px 5px var(--primary-color);
}

.slideContent h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.slideContent p {
  font-size: 1.6rem;
}

.gitLink {
  background-color: var(--primary-color);
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.gitLink a {
  color: black;
  text-decoration: none;
}

.gitLink:hover {
  background-color: var(--accent-color);
}

.swiper-pagination {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--primary-color);
  opacity: 0.6;
  transition: opacity 0.3s;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
